[client]
port = 3306
default-character-set = utf8mb4

[mysql]
default-character-set = utf8mb4

[mysqld]
log-error=/mysql/logs/error.log
slow_query_log = on
long_query_time = 2
slow-query-log-file = /mysql/logs/slow.log

secure-file-priv = ''
character-set-client-handshake = FALSE

port = 3306

datadir = /mysql/data

character-set-server = utf8mb4
collation-server = utf8mb4_general_ci
init_connect = 'SET NAMES utf8mb4'
